/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

// 浏览器自动填充时的样式
// input:-webkit-autofill {
// -webkit-box-shadow: 0 0 0 1000px white inset !important;
// }
  
// :-webkit-autofill {
// transition: background-color 5000s ease-in-out 0s !important;
// }

html{
    overflow: hidden;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: visible !important;
  overflow-x: hidden !important;

  &.color-weak {
    filter: invert(80%);
  }

  &.gray-mode {
    filter: grayscale(100%);
    filter: progid:dximagetransform.microsoft.basicimage(grayscale=1);
  }
}


a:focus,
a:active,
button,
div,
svg,
span {
  outline: none !important;
}

ul li{
    list-style: none;
    padding:0px;
    margin:0px;
}
